header {
    text-align: center;
}

#prime-logo {
	width: 200px;
}

.content {
    margin: 30px 0px 0px 0px;
    background-color: rgba(255,255,255, 0.8);
    padding: 20px 20px 20px 20px;
    border-radius: 5px;


}

.credits {
    right: 0px;
    bottom: 16vh;
    position: absolute;
    padding-right: 5px;
    padding-bottom: 40px;
    color: white;
    font-size: 32px;
    
}

.bigimg {
    z-index: -1;
    background: transparent;
    width: 100%;

}
.headerimg {
    min-height: 100vh;
    background: transparent;
    width: 100%;
    position: relative;
}

#onlinelogo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75%;
}

footer{
    color: rgba(255,255,255, 0.7);
    padding: 8px 0 8px 0;
    font-size: 0.7em;
    clear: both;
    border-top: 1px solid rgba(0,0,0, 0.1);
    text-align: center;
    margin-bottom: 40px;
}

.top-right {
    right: 0px;
    top: 0px;
    position: absolute;
    padding-right: 5px;
}

.top {
    position: absolute;
    text-align: center;
}

.parallax-window {
    min-height: 900px;
    height: auto;
    background: transparent;
    width: 100%;
}



