header {
    text-align: center;
}

.headerimg {
    min-height: 900px;
    background: transparent;
    width: 100%;
}

footer {
    color: rgba(0,0,0, 0.7);
    padding: 8px 0 8px 0;
    font-size: 0.7em;
    clear: both;
    border-top: 1px solid rgba(0,0,0, 0.1);
    text-align: center;
}

.top-right {
    right: 0px;
    top: 0px;
    position: absolute;
    padding-right: 5px;
}

.top {
    position: absolute;
    text-align: center;
}